{
    "ssl-cert": "/app/certs/cert.pem",
    "ssl-key": "/app/certs/key.pem",
    "oauthclient-id": "something from google",
    "oauthclient-secret": "secret from google",
    "appsecret": "password for flyem services",
    "hostname": "localhost",
    "swagger-docs": "/app/swaggerdocs",
    "REMOVE_UPPERCASE_TO_ENABLElog-file": "log.json",
    "applications-secrets": {
	"neuprint": "neuprint jwt passcode",
	"dvid": "dvid jwt passcode"
    },
    "applications-auth": {
    	"dvid": "authorizedvid.json"
    }
}
